<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MediaSync Console</title>
</head>
<body>
    <% const prefix = addresses.ssl?"https://":"http://" %>
    <% const externalV4Address = prefix + addresses.v4External} + "/"; %> 
    <% const internalV4Address = prefix + addresses.v4Internal + "/"; %>    
    <% const domain = prefix + addresses.domain + "/" %> 
    <select id="address-selector">
       <option value = "<%=  %>" > External IP Address (<%= externalV4Address %> )</option>

    </select>
    <script>
        
    </script>
</body>
</html>