<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.socket.io/4.3.2/socket.io.min.js" integrity="sha384-KAZ4DtjNhLChOB/hxXuKqhMLYvx3b5MlT55xPEiNmREKRzeEm+RVPlTnAn0ajQNs" crossorigin="anonymous"></script>
    <title>Screen <%= screenNumber %> </title>
</head>
<body>
    <div id="screenNumber" style="display: none;"><%= screenNumber %> </div>
    <video id="video"></video>
    <button id = "activate" style="font-size: xx-large;">Activate Screen</button>
    <div id="loading-msg" style="font-size: xx-large;">
        Loading Videos...
    </div>
    <script>
        const socket = io();
        /** @type {HTMLVideoElement} */
        const videoElement = document.getElementById("video");
        const VideoDownloadedEvent = new Event("videodownloaded");
        const screenNumber = 
            Number(document.getElementById("screenNumber")
                    .innerText);
        const videoObjectURLs = [];
        socket.on("connect",()=>{
            socket.emit("register",{screen:screenNumber});

        })
        let urlsToDownload = undefined;
        let videosDownloaded = 0;
        socket.on("videos",instructions =>{
            let videos = instructions.videos;
            urlsToDownload = videos.length
            let urls = videos.map(video=>video.url);
            console.log(urls)
            urls.forEach(url => {
                fetch("/"+url)
                .then(response => response.blob())
                .then(blob => {
                    videoObjectURLs.push(URL.createObjectURL(blob));
                    videosDownloaded++;
                    window.dispatchEvent(VideoDownloadedEvent);
                })
            })
        })

        //socket.on("videos", console.log);
        
      
        window.addEventListener("videodownloaded", e => {
            console.log(`video ${videosDownloaded} of ${urlsToDownload} downloaded`);
            if (videosDownloaded == urlsToDownload ){
                socket.emit("ready")
                videoElement.src = videoObjectURLs[0];
                videoElement.onended = function(e){
                    videoElement.src = videoObjectURLs[1]
                }
                
            }
        })
        
    </script>
</body>
</html>