#tab-list > .tab{
    display: inline;
}


.template{
    display: none !important;
}

.tab.selected{
    background-color: lightgray;
}

#sections-container{
    display: flex;
    flex-direction: row;
    padding: 10px;
    border-style:outset;
    margin:10px
}


.section{
    padding: 5px;
    margin: 5px;
    border-style:ridge
  
}

body{
    display:grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 3fr 2fr;
}

body * {
    font-size:large;
}

#tab-container{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

#video-list-container{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

#display-controls{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}

#file-controls>button{
    display: block;
    text-align: center;
    margin:auto;
    width:80%;
    margin:10px
}

#file-controls{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    text-align: center;
}

#timeline-container{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}

